################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PromotionEngine/obj/Debug/netcoreapp3.1
/PromotionEngine/.vs/PromotionEngine/DesignTimeBuild/.dtbcache.v2
/PromotionEngine/bin/Debug/netcoreapp3.1
